@model WebApplication1.Models.Home.User.RegistrationModel
@using WebApplication1.Models.Home.User
@{
    ViewData["Title"] = "Congratulations";
    var registerValidation = ViewData["registerValidation"] as RegisterValidationModel;
}

<div>
    <h1 class="display-4">Registration successful</h1>
</div>
<h4>Dear <strong>@Model.RealName</strong>!</h4>
<p>
    Congratulations on your registration on our website. 
    Use the data that you provided during registration for authorization.
</p>
@if(Model.Avatar is not null)
{
    <img src="/avatars/@(Model.Avatar.FileName)" alt="Avatar"/>
}