@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Learn about <a href="/Home/Intro">Introduction</a>.</h3>
    <h3>Learn about <a href="/Home/Scheme">Scheme</a>.</h3>
    <h3>Learn about <a href="/Home/URL">URL</a>.</h3>
    <h3>Learn about <a href="/Home/Razor">Razor</a>.</h3>
    <!--прямая ссылка - не чуствительная к изменениям-->
    <h3>Learn about <a href="/Home/PassData">Transfer models</a>.</h3>
    <!--тэг-помощник - сформирует ссылку на основании действующих правил маршрутизации-->
    <h3>Learn about <a asp-controller="Home" asp-action="DisplayTemplates">Display Templates</a>.</h3>
    <!--неуказанные атрибуты помошника - берутся из окружения: контроллер будет подставлен текущий - Home-->
    <h3>Learn about <a asp-action="TagHelpers">Tag Helpers</a>.</h3>
    <h3>Learn about <a asp-action="Servises">Servises</a>.</h3>
    <h3>Learn about <a asp-action="DataContext">Data Context</a>.</h3>
    <h3>Learn about <a asp-action="Sessions">Sessions</a>.</h3>
    <h3>Learn about <a asp-action="Middleware">Middleware</a>.</h3>
    <br />
    <h3><a asp-controller="User" >User Page</a>.</h3>
</div>
