@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="/Home/Intro">Introduction</a>.</p>
    <p>Learn about <a href="/Home/Scheme">Scheme</a>.</p>
    <p>Learn about <a href="/Home/URL">URL</a>.</p>
</div>
