@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Learn about <a href="/Home/Intro">Introduction</a>.</h3>
    <h3>Learn about <a href="/Home/Scheme">Scheme</a>.</h3>
    <h3>Learn about <a href="/Home/URL">URL</a>.</h3>
    <h3>Learn about <a href="/Home/Razor">Razor</a>.</h3>
    <h3>Learn about <a href="/Home/PassData">Transfer models</a>.</h3>
</div>
