@{
    ViewData["Title"] = "Introduction";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>ASP - Active Server Pages C# framework for creating web-pages</p>
    <p>
        В основе фреймворка - паттерн MVC, в структуре проекта находися три соотвествующие папки.<br />
        Котроллеры - классы, которые содержат методы каждый из который отвечает за свою страницу, точнее за свою активность
        <br />
        Представления - файлы разметки, реализованые по принципу шаблона.
        Общее окружение реализовано в Shared/_Layout.cshtml, внутрение страницы (RenderBody) - в /Home/*.cshtml файлах
    </p>
    <p>
        ?Как сервер определяет, что нужно запустить соотвествующий контроллер?<br />
        !С помощью совпадения имен. Часть HTTP-запроса, которая отвечает за контролер (до первого слеша), проверяется на наличие в папке "Controllers" или за прямым сходством Name.cs, или за сходством NameController.cs<br />
        !! Роль ASP имен довольно высока
    </p>
    <p>
        ?Что означает паттерн в маршрутизаторе (pattern: "{controller=Home}/{action=Index}/{id?}");)
        <br />
        !Это задает правило анилиза URL запроса с которого определяются детали:<br />
        - название контроллера (controller) и значение по умолчанию (Home), если ничего не будет переданно<br />
        - назва метода (action ) и его значения по умолчанию (Index)<br />
        - необязательный параметр {id?}<br />
        Например запрос "/" не содержит никаких данных, соотвественно выбирается контроллер Home и метод Index.<br />
        Запрос "Items" обратиться к контроллеру "Items.cs" к методы "Index" (по умолчанию)<br />
        Запрос "Items/Goods" обратиться к методу Goods() контроллера "Items.cs"
    </p>
    <p>
        Как определяется представление, которое должно быть отображенно. Во всех методах одинаковые return View();?<br />
        !Так же по имени метода (action). Происходит поиск в подпапках "Views" файла с именнем метода и розширением "cshtml". Рекомендуется упорядочить файлы в папках с именнами контроллеро
    </p>
</div>
