@{
    ViewData["Title"] = "Sessions";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p>
    HTTP-сессии - механизм сохранения данных на сервере с привязкой 
    к определенному клиенту (браузеру). Понятие сессии - широкое, это часовой промежуток, сеанс,
    используется в разных контекстах (сессия студентов, сессия парламента).
    Для более конкретного использование стоит обозначить "HTTP-сессии"
</p>
<p>
    HTTP-сессии реализуются через Cookie. Cookie - часть HTTP протоколу, 
    которая предусматривает то, что клиент, который получил Cookie, будет включать
    запросы, которые направленны к данному ресурсу. Так же клиент должен обеспечивать
    контроль времени жизни Cookie. Как правило это время большое, поэтому браузер сохраняет
    Cookie в файл(ы).
</p>
<p>
    Сесию можно представить, как файл со стороны сервера, которые назван так же как Cookie.
    Приход Cookie в запрос тянет за собой открытие файла, и о
</p>
<p>
    Настройка и включения механизму сессии - см <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">ссылку</a>
</p>
<form>
    Встановити атрибут сесії: <input name="session-attr"/>
    <input type="submit" value="Set" />
</form>
<p>
    Раніше встановлений атрибут: @Context.Session.GetString("session-attribute");
</p>