@{
    ViewData["Title"] = "Sessions";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p>
    HTTP-сессии - механизм сохранения данных на сервере с привязкой 
    к определенному клиенту (браузеру)
</p>
<p>
    Настройка и включения механизму сессии - см <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">ссылку</a>
</p>