@{
    ViewData["Title"] = "Tag Helpers";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p>
    При создании ссылок (в том числе форм) ми указываем адрес
    <code>
        &lt; href="/Home/TagHelpers"
    </code>
    Этот адрес должен согласовываться с правилом маршрутизации<br />
    <code>
        pattern: "{controller=Home}/{action=Index}/{id?}"
    </code><br />
    То есть на первом месте - контроллер, на втором - метод (action).
</p>

<p>
    Правила маршрутизации в процессе создания ПЗ могут терпеть изменения.
    Например, к ним может быть добавленны видимости про культуру (uk-UA).
    Как правило, эти ведомости указывают первыми в URL:<br />
    <code>
        &lt; href="/uk-UA/Home/TagHelpers"
    </code><br />
</p>

<p>
    Для того чтобы ссылки имели возможность для проверки целостности,
    а так же для обеспечения гибкости (адаптации к изменениям правил маршутизации).
    используются тэг-помощники - обычные теги с присутсвующими asp-xxxxx атрибутами
</p>
