@{
    ViewData["Title"] = "URL Defeniton";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<p>
    Протокол - это соглашение о том, каким образом происходит обмен данными между устройствами или программами в сети.
    Например, наиболее распространенными протоколами в Интернете являются HTTP (HyperText Transfer Protocol)
    для передачи веб-страниц, SMTP (Simple Mail Transfer Protocol) для отправки электронной почты и FTP (File Transfer Protocol)
    для передачи файлов.
</p>
<p>
    Домен (origin) - это часть URL-адреса, которая указывает на определенный веб-сайт или приложение. Она включает название домена 
    (например, google.com) и используемый протокол (например, https://).
</p>
<p>
    Порт - это числовой идентификатор, который определяет, к какому приложению или сервису должны быть направлены данные.
    Когда вы используете URL-адрес для доступа к веб-сайту, номер порта обычно не указывается явно, но используется значение
    по умолчанию для выбранного протокола (например, порт 80 для HTTP).
</p>
<p>
    PATH (путь) - это часть URL-адреса, которая указывает на конкретный ресурс (например, веб-страницу, изображение или файл)
    на веб-сервере. Путь начинается после имени домена и может содержать несколько уровней, разделенных символом "/".
</p>
<p>
    Хэш - это результат применения к каким-либо данным функции хэширования.
    Хэш-функция преобразует данные произвольной длины в данные фиксированной длины.
    Хэш-функции используются для проверки целостности данных и для создания цифровых подписей1.
</p>
<p>
    URL-параметры - это набор символов, следующих в конце адреса после символа ? (вопросительный знак)
    и до # (хэш-символ) при наличии1. Несколько параметров соединяются символом & (амперсанд).   
    Параметр может иметь значение через символ = (равно). Один параметр может иметь несколько значений, которые находятся в массиве
</p>