html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    border-collapse: collapse; /* объединяем границы */
    width: 100%; /* ширина таблицы в 100% */
}

th, td {
    border: 1px solid black; /* граница таблицы черная прерывистая линия толщиной 1 пиксель */
    padding: 8px; /* добавляем внутренний отступ (padding) */
    text-align: left; /* выравнивание текста в ячейках таблицы по левому краю */
}

th {
    background-color: #4CAF50; /* задаем цвет фона для заголовков столбцов */
    color: white; /* задаем белый цвет для текста заголовков столбцов */
}

tr:nth-child(even) {
    background-color: #4CAF50; /* Задаем цвет фона для каждой второй строки (псевдо-класс :nth-child(even)) */
    color: white; /* задаем белый цвет для текста строк на фоне #4CAF50 */
}

.products-container {
    border: 1px solid tomato;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}