html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    border-collapse: collapse; /* объединяем границы */
    width: 100%; /* ширина таблицы в 100% */
}

th, td {
    border: 1px solid black; /* граница таблицы черная прерывистая линия толщиной 1 пиксель */
    padding: 8px; /* добавляем внутренний отступ (padding) */
    text-align: left; /* выравнивание текста в ячейках таблицы по левому краю */
}

th {
    background-color: #4CAF50; /* задаем цвет фона для заголовков столбцов */
    color: white; /* задаем белый цвет для текста заголовков столбцов */
}

tr:nth-child(even) {
    background-color: #4CAF50; /* Задаем цвет фона для каждой второй строки (псевдо-класс :nth-child(even)) */
    color: white; /* задаем белый цвет для текста строк на фоне #4CAF50 */
}

.products-container {
    border: 1px solid tomato;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Profile */

.main-body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
    padding: 25px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}